<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>Kubernetes</short>
  <description>Kubernetes</description>
  {% for port in ports %}
  <port protocol="{{ port.protocol }}" port="{{ port.port }}"/>
  {% endfor %}
</service>
